/*================Extends Foundation================*/
/*================Define font================*/
/*================Typography================*/
/*================Color================*/
/*================Link================*/
/* // Fontface
@font-face {
  font-family: 'fontawesome';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg#fontawesome') format('svg');
}
 */
/*================Extends Foundation================*/
/*================Common================*/
.label-1 {
  font-size: 1em;
  color: #000000; }
  .label-1.inline {
    padding: 0; }

.input-1[type="text"],
.input-1[type="password"],
.select-1 {
  padding: 0 0.5rem;
  font-size: 1em;
  color: #000000;
  height: 1.5rem;
  border-color: #a8acad;
  margin-bottom: 0.71429rem; }

.button-1 {
  margin: 0;
  padding: 0.35714rem 1.57143rem;
  font-size: 1em;
  line-height: 1;
  color: #000000; }

.login-form {
  margin: 75px 0; }
  .login-form .button-1 {
    text-transform: uppercase; }

.select-1 {
  padding: 0 0.28571rem;
  background-color: #FFFFFF; }
  .select-1:hover {
    background-color: #FFFFFF; }

.textarea-1 {
  margin-top: 0.71429rem;
  resize: none;
  min-height: 63px; }

html, body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1; }

body {
  background-image: url(../images/bgd-body.png);
  color: #000000; }

p,
code,
h1, h2, h3, h4, h5, h6,
ul,
ol,
dl {
  font-family: Arial, Helvetica, sans-serif; }

.row-fluid {
  display: block; }

.orange {
  background-color: #ff8a00; }

.grey {
  background-color: #dfdfdf; }

input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder {
  color: #000000; }
input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder {
  color: #000000; }
input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder {
  color: #000000; }
input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder {
  color: #000000; }

.fa {
  font-size: 1.42857rem; }

.white {
  color: #FFFFFF; }

.heading-1 {
  margin: 0;
  padding: 0.71429rem 0.85714rem;
  font-family: "Century Gothic", Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1;
  color: #000000;
  font-weight: bold;
  background-color: #dfdfdf; }
  .heading-1 > a {
    color: #000000;
    text-decoration: underline;
    font-weight: normal; }

.heading-2 {
  font-size: 1.14286em;
  font-weight: bold;
  font-family: "Century Gothic", Arial, Helvetica, sans-serif;
  color: #ff8a00; }

.item-1 {
  margin-top: 0.71429rem;
  background-color: #f0eeee; }
  .item-1 .title, .item-1 .desc {
    padding: 0.71429rem 0.85714rem; }
    .item-1 .title p, .item-1 .desc p {
      margin-bottom: 0; }
  .item-1 .title {
    border-bottom: 1px solid #dfdfdf; }
    .item-1 .title p {
      font-weight: bold; }
    .item-1 .title a {
      color: black; }

.block-1 > .content {
  padding-top: 1.42857rem;
  padding-bottom: 1.42857rem; }

.result-block > .content {
  padding-top: 0; }

.table {
  border: none;
  background-color: transparent; }
  .table thead {
    background-color: transparent; }
    .table thead tr th {
      border-bottom: 1px solid #dfdfdf;
      font-weight: normal; }
  .table tbody tr {
    background-color: transparent; }
    .table tbody tr:hover, .table tbody tr.active {
      background-color: #ff8a00; }
    .table tbody tr td {
      border-bottom: 1px solid #dfdfdf; }

.list-numb {
  list-style: none;
  margin-left: 0; }
  .list-numb li {
    padding-top: 27px;
    text-align: right;
    border-bottom: 1px solid #dfdfdf; }

.chart-list {
  margin-top: 50px;
  height: 500px;
  background-color: #efedee; }
  .chart-list li {
    position: relative;
    padding-bottom: 0;
    height: 100%; }
    .chart-list li a {
      padding-right: 0.71429rem;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      text-align: center; }
      .chart-list li a:hover .numb {
        display: block; }
    .chart-list li :first-child {
      padding-left: 0.71429rem; }
    .chart-list li .chart {
      display: block;
      height: 10px;
      max-height: 500px;
      background-color: #dfdfdf; }
    .chart-list li .numb {
      padding-left: 0;
      display: none;
      color: #ff8a00;
      text-align: center; }

.thumbnails-1 {
  position: relative; }
  .thumbnails-1 > img {
    display: block;
    width: 100%; }
  .thumbnails-1 .caption {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%; }
    .thumbnails-1 .caption > a {
      display: block;
      padding: 0.35714rem 0.71429rem;
      background-color: #2a2a2a; }
      .thumbnails-1 .caption > a .fa, .thumbnails-1 .caption > a span {
        display: inline-block;
        vertical-align: middle; }
      .thumbnails-1 .caption > a span {
        padding-left: 0.71429rem;
        line-height: 1.28571em;
        color: #FFFFFF; }

.logo {
  font-size: 2.14286em;
  line-height: 1;
  text-transform: uppercase;
  font-weight: bold; }
  .logo > a {
    color: #ff8a00; }

#header {
  overflow: hidden; }
  #header .logo {
    margin: 45px 0; }

#main {
  overflow: hidden;
  padding: 0 0 1.78571rem 0; }

.breadcrumbs {
  margin: 0;
  padding: 0 0 1.78571rem 0;
  border: none;
  background: none; }
  .breadcrumbs > *:before {
    margin: 0 0.21429rem;
    top: -0.07143rem;
    content: "|";
    font-size: 1.14286em;
    line-height: 1;
    font-weight: bold;
    color: #000000; }
  .breadcrumbs > * a {
    color: #ff8a00;
    font-weight: bold;
    text-transform: none; }
  .breadcrumbs > * .current a {
    color: #000000; }
